{% extends 'templates/base.html' %}
{% block body %}
<form class="form-inline"  action="{% url 'salary.create' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
    
        <label for="amount">Amount</label>
        <input type="number" name="amount" class="form-control" style="width:30%;" required="required"/>
    
        <label for="date">Date</label>
        <input type="date" name="date" class="form-control" style="width:30%;" required="required"/>
        <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> ADD</button>
    </div>
</form>
<br />
<table class="table table-bordered">
    <thead class="alert-warning">
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for salary in salarys %}
        <tr>
            <td>{{ salary.amount }}</td>
            <td>{{ salary.date }}</td>
            <td><center><a class="btn btn-sm btn-warning" href="salary/edit/{{ salary.id }}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a class="btn btn-sm btn-danger" href="salary/delete/{{ salary.id }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></center></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}